div{
	
	}

body {
    background-color: #b0c4de;
}

#page{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
}

p,a{
	text-decoration: none;
	font-family: sans-serif;
	font-color:#ACACA8;
	padding: 5px;
}
a:hover{
	text-decoration: underline;
}

#header{
	position: relative;
	top: 10px;
	padding-top: 10px;
	padding-right: 10px;
	float: right;


}

#body{
	width: 50%;
	height:50%;
	top: 25%;
	margin: 0 auto;
	position: relative;
	background-color: yellow;
}
#footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #F5F5F0;
}

#footerleft{
	float: left;
	padding: 20px;

}

#footerright{
	float: right;
	padding: 20px;
}

form, input{
	width: 100%;
}

p a{font-color:blue;}